.language-title {
    color: #AEBE89;
    font-size: 80px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    margin: 0px 0px;
    text-shadow: 0 0 9px #000;
}

.language-english-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
}

.add-language-to-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
}

.form-box {
    padding: 8px;
    margin: 10px;
}

.language-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.language-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.language-card {
    border: 5px solid black;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-right: 40px;
    padding-left: 40px;
    margin: 5px;
    border-radius: 40px;
    font-family: fantasy;
}

.delete-button {
    border-radius: 40px;
    margin-bottom: 5px;
    font-family: fantasy;
}

.delete-button:hover {
    background-color: #C5A48D;
    cursor: pointer;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow:hidden;
    scroll-behavior: smooth;
}

.language-container::-webkit-scrollbar {
    width: 0px;
}

.language-container:after {
    content: '';
    display: block;
    min-height: 20px;
    width: 100px;
    position: relative;
}

.language-btn {
    min-width: 60px;
    height: 60px;
    border-radius: 20px;
    background: white;
    border: 0px;
    outline: none;
    cursor: pointer;
    z-index: 200;
    margin: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    transition: all .25s ease;
}

.language-btn:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.language-btn i {
    font-size: 1.6rem;
}