* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.responsive-iframe {
    position: absolute;
    top: 30%;
    left: 25%;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

@media screen and (max-width: 600px) {
    .topnav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }
}

.bg-1 {
    background-image: url("https://cdn.pandorarising.com/splash/media-bg.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2 {
    background-image: url("https://d3bo0mk5kk7egf.cloudfront.net/imgstore/ElementGalleryItems/attractions/Fullsize/Avatar-Flight-of-Passage_Full_30135.jpg?width=2280&quality=60&encoder=freeimage&progressive=true");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-3 {
    background-image: url("https://wallpaperaccess.com/full/3232847.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-4 {
    background-image: url("https://wallpapercave.com/wp/wp5605657.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-5 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a7f41ad8fd4d236a4ad76d0/1518308270641-TYRM063FCC8W6HYPXJIH/ke17ZwdGBToddI8pDm48kL_2mbH3qVHsnO1BBtAucMh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UaURqWh2ScMb-Cf8FumqtgfL5pa2BogKsVrPbYqwopcaTCgV58CQKqkVi4LppNMUzA/50_SturmbeastHunt_wide_v02.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    color: #AEBE89;
    font-size: 80px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    margin: 0px 0px;
    text-shadow: 0 0 9px #000;
}

.topnav {
    overflow: hidden; 
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 9px #000;
}

.topnav a {
    float: left;
    color: #DAE3BB;
    text-align: center;
    padding: 20px 95px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    color: #FAF8F0;
    backdrop-filter: blur(5px);
}

.btn {
    min-width: 60px;
    height: 60px;
    border-radius: 20px;
    background: lightskyblue;
    border: 0px;
    outline: none;
    cursor: pointer;
    z-index: 200;
    margin: 25px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    transition: all .25s ease;
}

.btn:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.btn i {
    font-size: 1.6rem;
}

